<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/zizzy_verde_logo.png" alt="Zizzy - Seu Controle Financeiro" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/categorias/premium">Categorias</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>